<%- include('./partials/header', {titlePartial: 'Edit | '}) -%>

<section class="section compose-section">
  <h2 class="title">Edit Post</h2>
  <form class="compose-form" method="POST" action="/posts/<%= post._id %>?_method=PUT">
    <%- include('./partials/post-form', { title: post.title, content: post.content }) -%>
    <div class="button-group">
      <button class="btn" type="submit">Update</button>
      <a href="/posts/<%= post._id %>" class="btn">Cancel</a>
    </div>
  </form>
</section>


<%- include('./partials/footer') -%>