<%- include('./partials/header', {titlePartial: 'Edit | '}) -%>

<section class="section compose-section">
  <h2 class="title">Edit Post</h2>
  <form class="compose-form" action="/edit" method="post">
    <div class="form-group">
      <label for="title">Post Title</label>
      <input class="form-control" type="text" name="title" id="title" autocomplete="off" value=<%= post.title %>>
    </div>
    <div class="form-group">
      <label for="body">Post Content</label>
      <textarea class="form-control ta-vertical" name="body" id="body" cols="30" rows="10"><%- post.content -%></textarea>
    </div>
    <div class="button-group">
      <button class="btn" type="submit" name="postId" value=<%= post._id %>>Update</button>
      <a href="/posts/<%= post._id %>" class="btn">Cancel</a>
    </div>
  </form>
</section>


<%- include('./partials/footer') -%>