<%- include('./partials/header', {titlePartial: 'Home | '}) -%>

<% posts.forEach(post => { %>
    <div class="blog-post">
      <h2 class="blog-post__title"><%= post.title %></h2>
      <% const date = post.date.toLocaleDateString('en-GB') %>
      <p class="blog-post__date">- <%= date %></p>
      <div class="blog-post__body">
        <% const trimmed = post.content.split(' ').slice(0, 100).join(' ') + '...' %>
        <%- trimmed -%>
      </div>
      <a class="blog-post__btn" href="/posts/<%= post._id %>">Read More</a>
    </div>
<% }) %>
<nav class="page-nav">
  <% if(prevPage) { %>
    <a href="/pages/<%= prevPage %>" class="page-nav__link btn btn-prev">
      Previous
    </a>
  <% } %>
  <% if(nextPage) { %>
    <a href="/pages/<%= nextPage %>" class="page-nav__link btn">Next</a>
  <% } %>
</nav>

<%- include('./partials/footer') -%>