<%- include('./partials/header', { titlePartial: postTitle + ' | ' }) -%>

<section class="section post-section">
  <h2 class="title"><%= postTitle %></h2>
  <!--<div><%= postBody %></div> -->
  <% postBody.split('\n').forEach(p => { %>
    <% if(p !== '') { %>
      <p><%= p %></p>
    <% } %>
  <% }) %>
</section>



<%- include('./partials/footer') -%>