<%- include('./partials/header', { titlePartial: post.title + ' | ' }) -%>

<section class="section post-section">
  <h2 class="title"><%= post.title %></h2>
  <!--<div><%= post.content %></div> -->
  <% post.content.split('\n').forEach(p => { %>
    <% if(p !== '') { %>
      <p><%= p %></p>
    <% } %>
  <% }) %>
</section>



<%- include('./partials/footer') -%>